<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/css/normalize.css">
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    @RenderBody();
    <script src='~/js/jquery.min.js'></script>
    <script src='~/js/jquery.nicescroll.js'></script>
    <script src="~/js/index.js"></script>
</body>
</html>